<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kursovaya.Properties.Settings.ttest1ConnectionString"
            connectionString="Data Source=LAPTOP-IO3D36PC;Initial Catalog=ttest1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kursovaya.Properties.Settings.os1ConnectionString"
            connectionString="Data Source=B12313\SQLEXPRESS;Initial Catalog=os1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>